body {
  background-color: rgb(186, 174, 174);
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  margin: 2rem;
  color: aquamarine;
}

main {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
}




footer {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  margin: 2rem;
  color: aquamarine;
}
